@model MVCview.Models.RegisterViewModel

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow p-4">

                <h2 class="text-center text-primary mb-4">
                    Register
                </h2>

                <form asp-action="Register" method="post">

                    <div class="mb-2">
                        <input asp-for="Name" class="form-control" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="mb-2">
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-2">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.Error
                        </div>
                    }

                    <button class="btn btn-success w-100">
                        Register
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}