@model MVCview.Models.UserDto

@{
    var roles = ViewBag.Roles as List<PocoClasses.Role>;

    var departments = ViewBag.Departments as List<MVCview.Models.DepartmentDto>
        ?? new List<MVCview.Models.DepartmentDto>();
}

<div class="card shadow p-4">

    <h2 class="text-primary mb-4">Create User</h2>

    <form asp-action="Create" method="post">

        <div class="mb-3">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
        </div>

        
        @* <div class="mb-3">
            <label>Password</label>

            <div class="input-group">
                <input asp-for="Password" type="password" class="form-control" id="password" />
                <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('password', 'eye1')">
                    👁️
                </button>
            </div>
        </div>

        <div class="mb-3">
            <label>Confirm Password</label>

            <div class="input-group">
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirmpassword" />
                <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('confirmpassword', 'eye2')">
                    👁️
                </button>
            </div>
        </div> *@

        <div class="mb-3">
            <label>Role</label>

            <select asp-for="RoleId" class="form-control">
                <option value="">-- Select Role --</option>

                @if (roles != null)
                {
                    foreach (var role in roles)
                    {
                        <option value="@role.Id">@role.RoleName</option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <label>Department</label>

            <select asp-for="DepartmentId" class="form-control">
                <option value="">-- Select Department --</option>

                @foreach (var department in departments)
                {
                    <option value="@department.Id">
                        @department.Name
                    </option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-success">
            Save User
        </button>

    </form>

</div>


<script>
    function togglePassword(fieldId) {
        var field = document.getElementById(fieldId);

        if (field.type === "password") {
            field.type = "text";
        } else {
            field.type = "password";
        }
    }
</script>