@model MVCview.Models.UserDto

@{
    var departments = ViewBag.Departments as List<MVCview.Models.DepartmentDto>
        ?? new List<MVCview.Models.DepartmentDto>();
}
<div class="card shadow p-4">

    <h2 class="text-primary mb-4">
        Edit User
    </h2>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }

    <form asp-action="Edit" method="post">

        <input asp-for="Id" type="hidden" />

        <div class="mb-3">

            <label>Name</label>

            <input asp-for="Name"
                   class="form-control" />

        </div>

        <div class="mb-3">

            <label>Email</label>

            <input asp-for="Email"
                   class="form-control" />

        </div>


        <div class="mb-3">

            <label class="form-label">
                Role
            </label>

            <select asp-for="RoleId" class="form-select">

                <option value="1">Admin</option>
                <option value="2">User</option>
                <option value="3">Manager</option>

            </select>

        </div>
        <div class="mb-3">

            <label class="form-label">
                Department
            </label>

            <select asp-for="DepartmentId" class="form-select">

                <option value="">-- Select Department --</option>

                @foreach (var department in departments)
                {
                    <option value="@department.Id"
                            selected="@(Model.DepartmentId == department.Id)">
                        @department.Name
                    </option>
                }

            </select>

        </div>

        <button type="submit"
                class="btn btn-primary">
            Update User
        </button>

    </form>

</div>